{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "no-param-reassign": 0,
    "max-len": [1, 400],
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "guard-for-in": 0,
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "no-await-in-loop": "off"
  }
}